{% extends 'base.html.twig' %}

{% block title %}Anmelden{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/signInStyle.css">
{% endblock %}
{% block body %}
<div class="loginForm">
        <form method="post">
            <h1>Anmelden</h1>
            {% if error %}
                <div style="background: #B0413E;color:white" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Du bist eingelogt als {{ app.user.username }}, <a href="{{ path('app_logout') }}">auslogen</a>
                </div>
            {% endif %}
            <input type="text" placeholder="Username" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
            <input type="password" placeholder="Password" name="password" id="inputPassword" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="checkbox" name="_remember_me">
            <label for="rmbrMeBox">Angmeledet bleiben</label>
            <button type="submit" class="signInButton">Login</button>
        </form>
        <a href="{{ path('app_register') }}" class="toSignUp">
            Register
        </a>
    </div>

{% endblock %}
