{% extends 'base.html.twig' %}

{% block title %}Chat App{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/chatBoxStyle.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="blur"></div>
    <header class="header">
        <button id="menuBtn"><i class="material-icons">menu</i></button>
        <label class="usernameHeader" for="avatar">{{ app.user.username }}</label>
        <a class="logout" href="{{ path('app_logout') }}"><i class="material-icons">exit_to_app</i></a>
    </header>
    <nav class="side">
        <button id="closeBtn"><i class="material-icons">cancel</i></button>
        <div class="avatar">
            <img src="https://simpleicon.com/wp-content/uploads/account-256x256.png" alt="account Icon">
            <label class="username" for="avatar">{{ app.user.username }}</label>
        </div>
            <a>
            <div class="room" >
                <p>Erstellen</p>
            </div>
            </a>
        <div class="chatList">
            {% for Room in rooms  %}
                <div class="room"
                {% if Room.public == true %}
                onclick='join_room_public("{{ Room.hash }}")'
                {% else %}
                onclick='join_room_Private("{{ Room.hash }}")'
                {% endif %}>
                    <p> {{ Room.name }}</p>
                </div>
            {% endfor %}
        </div>
    </nav>
    <main class="main">
        <div class="chat">
            <div id="chat_window" class="chatArea">
            
            </div>
            <div class="controls">
                <input class="tbox" type="text" placeholder="type here" id="input_user">
                <button class="sendBtn" onclick="SendMessage()">SEND</button>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".side");
            const blur = document.querySelector(".blur");

            document.querySelector("#menuBtn").addEventListener("click", () => {
                nav.classList.add("openSidebar");
                blur.classList.add("showBlur");
            });

            document.querySelector("#closeBtn").addEventListener("click", () => {
                nav.classList.remove("openSidebar");
                blur.classList.remove("showBlur");
            });

            document.querySelector(".blur").addEventListener("click", () => {
                nav.classList.remove("openSidebar");
                blur.classList.remove("showBlur");
            });
        });
    </script>
    <script>
        window.onload =function (){
            var t=setInterval(getmessage,3000);

        }
        function join_room_public(hash){
            window.location.replace("/chat/c/"+ hash)
        }
        function join_room_Private(hash){
            alert("todo");
        }
        async function SendMessage(){
            var datasend = {room:"{{ room.hash }}"};
            datasend["user"]="{{ app.user.id }}";
            datasend["message"]=document.getElementById("input_user").value;
            let response =await fetch("{{ path('sende_message') }}",{
                method:"POST",
                body:JSON.stringify(datasend)
            })
            let data= await  response.json()
            {# document.getElementById('input_user').value = ''; clear textBox after send button is clicked#}
            console.log("Send Message")
        }
        async function getmessage(){

            var datasend = {room:"{{ room.hash }}",LastMessageHash:getLastMessageHash()};
            datasend["message"]=document.getElementById("input_user").value;
            let response =await fetch("{{ path('get_message') }}",{
                method:"POST",
                body:JSON.stringify(datasend)
            })
            let data= await response.json()
            console.log(" Message loaded")
            data.forEach(

                element => addMessage(element)
            );

        }
        function addMessage(message){
            oldMessage = document.getElementById(message.hash)
            if(!oldMessage) {
                if (message.from === "{{ app.user.username }}") {
                    var msgContent = '<p class="content">' + message.text + '</p>';
                    var msgDetails = '<p class="sender">' + message.from + ' | ' + message.date + '</p>';
                    document.getElementById("chat_window").innerHTML += '<div class="bubble" id="' + message.hash + '">' + msgContent + ' ' + msgDetails + ' </div>'
                } else {
                    var recContent = '<p class="content2">' + message.text + '</p>';
                    var recDetails = '<p class="recepient">' + message.from + ' | ' + message.date + '</p>';
                    document.getElementById("chat_window").innerHTML += '<div class="recBubble" id="' + message.hash + '">' + recContent + ' ' + recDetails + ' </div>'
                }
            }
            }
        function getLastMessageHash(){
            var chat_window = document.getElementById('chat_window');
            var lastMessage =chat_window.childNodes[chat_window.childNodes.length - 1].id
            if(lastMessage === undefined){
                lastMessage = null;
            }
            return lastMessage
        }
    </script>
</div>
{% endblock %}
